<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${sistema}"></title>
       
        <!--ESTILOS POR DEFAULT-->
        <link rel="stylesheet" href="#"  th:href="@{/framework/bootstrap/bootstrap.min.css}"/>
        <link rel="stylesheet" href="#"  th:href="@{/framework/bootstrap/bootstrap-responsive.min.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/framework/bootstrap/docs.min.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/framework/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/framework/fuentes.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/framework/flaty_rojo.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/framework/dashboard.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/framework/flaty-responsive.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/css/estilos.css}"  type="text/css" media="screen" />
        <link rel="stylesheet" href="#" th:href="@{/css/botones.css}"  type="text/css" media="screen" />

        <link rel="stylesheet" href="#" th:href="@{/js/jquery-ui/jquery.ui.core.css}"  type="text/css" media="screen"/>
        <link rel="stylesheet" href="#" th:href="@{/js/jquery-ui/jquery.ui.theme.css}" type="text/css" media="screen"/>
        <link rel="stylesheet" href="#" th:href="@{/js/jquery-ui/jquery.ui.tabs.css}" type="text/css" media="screen"/>
        <link rel="stylesheet" href="#" th:href="@{/js/jquery-ui/jquery.ui.deshab.css}" type="text/css" media="screen"/>

        <!--JQUERY POR DEFAULT-->
        <script language="JavaScript" type="text/javascript" th:src="@{/js/jquery/jquery.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/framework/bootstrap/bootstrap.min.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/framework/nicescroll/jquery.nicescroll.min.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/framework/flaty.js}"></script>

        <script language="JavaScript" type="text/javascript" th:src="@{/js/jquery-ui/jquery.ui.core.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/jquery-ui/jquery.ui.widget.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/jquery-ui/jquery.ui.tabs.js}"></script>

        <!--VALIDACION-->
        <script language="JavaScript" type="text/javascript" th:src="@{/js/validacion/jquery.validate.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/validacion/reglas.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/salir.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/function.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/seguridad/main.js}"></script>

        <!--DatePicker-->
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
 		<style>
 			.div-inline{
    display:inline-block;
}
 		</style>



    </head>
    <body>
     
        
	<table class="table" width="80%" th:fragment="resultsList">
     
       <!-- Header Table -->
       <thead>
            <tr>
                <th>N°</th>
				<th>Archivo</th>
                <th>Descargar</th>
              
            </tr>
        </thead>
        <!-- Footer Table -->
       <tbody>
       

					
					
					<tr th:each="r,itrStat:${reporte}">
					<td th:text="${itrStat.index}+1"></td>
						<td th:text="'Semana N°'+(${itrStat.index}+1)"></td>
						<td >
  							<img th:onclick="'reporte(\'' +${r.perfecinicio}+'\',\''+${r.idperiodo}+'\',\''+${r.peryeart}+ '\');'" th:src="@{/images/excel-8.png}" width="30px" height="30px"/>
  							
 						
						</td>
					
						
					
					</tr>
					
				</tbody>
    </table>
  
                
        
       
   

    </body>
</html>