.dashboard-wid-content a {
    color: #333333;
    text-align: center;
}

.dasboard-icon-title {
    display: block;
    padding-top: 10px;
}

.dashboard-wid-wrap {
    padding:3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#eee;
    margin-bottom:20px;
}
.dashboard-wid-content a {
    text-decoration:none;
    color: #333;
    display:block;
    padding:10px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
    border:#d8d8d8 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
    -webkit-box-shadow:0 0 4px rgba(000, 000, 000, 0.1) inset;
    box-shadow: 0 0 3px rgba(000, 000, 000, 0.1) inset;
    text-align:center;
}
.dashboard-wid-content a:hover {
    color:#069;
    background: rgb(229,229,229); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 229, 229, 1)), color-stop(100%, rgba(255, 255, 255, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}

.dashboard-icons-colors1 {
    background: url("../../recursos/images/SIST1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 48px;
    line-height: 40px;
    vertical-align: text-top;
    width: 48px;
}
.dashboard-icons-colors2 {
    background: url("../../recursos/images/SIST3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 48px;
    line-height: 40px;
    vertical-align: text-top;
    width: 48px;
}
.dashboard-icons-colors3 {
    background: url("../../recursos/images/SIST5.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 48px;
    line-height: 40px;
    vertical-align: text-top;
    width: 48px;
}